@media (max-width: 1200px){
#check:checked~.checkbtn{
	color: #4fc3dc;
	transition: 0.3s;
	}
#check:unchecked~.checkbtn{
		color: white;
		transition: 0.3s;
	}
.checkbtn{
		display:block;
		padding-right: 10%;
		z-index: 111;
	}
nav ul{
		position: absolute;
		width: 100%;
		height: 100vh;
		background: #0c192c linear-gradient(rgba(0,0,0,.7),rgb(0,0,0,.9));
		top: 50px;
		left: -120%;
		text-align: center;
		transition: all .5s;
	}
nav ul li{
		display: block;
		padding-bottom: 180px;
		padding-top: 30px;
		width: 100%;
	}
nav ul li a{
		font-size: 20 px;
	}
nav a{
	position: relative;
	background: #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 20px 300px;
	transition: 0.5s;
	top: 50px;
	}
nav a:hover{
	background: var(--clr);
	color: var(--clr);
	letter-spacing: 0.25em;
	box-shadow: 0 0 35px var(--clr);
	}
nav a:before{
	content: ' ';
	position: absolute;
	inset: 2px;
	background: #27282c;
	}
nav a span{
	position: relative;
	z-index: 0;
	}
nav a i{
	position: absolute;
	inset: 0;
	display: block;
	}
nav a i::before{
	content: '';
	position: absolute;
	top: 0;
	left: 80%;
	width: 10px;
	height: 4px;
	background: #27282c;
	transform: translateX(-50%) skewX(325deg);
	transition: 0.5s;
	}
nav a:hover i::before{
	width: 20px;
	left: 20%;
	}
nav a i::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 10px;
	height: 4px;
	background: #27282c;
	transform: translateX(-50%) skewX(325deg);
	transition: 0.5s;
	}
nav a:hover i::after{
	width: 20px;
	left: 80%;
	}
.logo{
	height: 180px;
	width: auto;
	position: absolute;
	z-index: 110;
	padding-left:30px;
	top: -100px;
	}
.checkbtn{
	top: -30px;
	}
#check:checked~ul{
	left: -16%;
	}
header.sticky{
	padding: 20px 100px;
	}
}
@media (max-width: 1024px){
.row{
		padding-right: 2%;
		padding-left: 2%;
	}
}
@media(max-width:928px){
.checkbtn{
		right: 33%;
	}
}
@media(max-width:860px){
	.button-big a{
	position: relative;
	background: #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 20px 30px;
	transition: 0.5s;
	top: 100px;
	}
#check:checked~ul{
	left: -19%;
	}
nav a{
	position: relative;
	background: #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 20px 150px;
	transition: 0.5s;
	top: 50px;
	}
}
@media(max-width:860px){
#check:checked~ul{
	left: -19%;
	}
}
@media(max-width:768px){
.button-big a{
	position: relative;
	background: #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2.0em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 20px 30px;
	transition: 0.5s;
	top: 100px;
	}
video{
	width: auto;
	height: 200px;
	display: flex;
	position: center;
	border: solid black;
	margin-bottom: 30px;
	border-radius: 10%;
	border-width: 8px;
	}
.work-section{
	min-height: 70rem;
	}
}
@media(max-width: 680px){
.logo{
		margin-left: -2%;
	}
}
@media(max-width: 620px){
cite img{
		margin-top: 60px;
	}
#check:checked~ul{
	left: -25%;
	}
}
@media(max-width: 560px){
nav ul{
		left: -130%;
	}
.checkbtn{
		right: 45%;
	}
nav a{
	position: relative;
	background: #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 20px 100px;
	transition: 0.5s;
	top: 50px;
	}

}
@media(max-width: 479px){
cite img{
		margin-top: 0;
	}
	#check:checked~ul{
	left: -32%;
	}
}
@media(max-width: 425px){
.social-links{
	margin-top: 30px;
}
.logo{
		margin-left:-60px;
	}
#check:checked~ul{
	left: -32%;
	}
.train-image{
		height:	320px;
	}
video{
	width: auto;
	height: 120px;
	}
.work-section{
		min-height: 40rem;
	}
h1{
	font-size: 350%;
	}
.button-big a{
	position: relative;
	background: #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.6em;
	padding: 20px 20px;
	}
.checkbtn{
		right: 50%;
}
.submit{
		margin-bottom: 70px;
	}
footer{
	height: 180px;
	}
@media(max-width: 380px){
	nav a{
	position: relative;
	background: #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 20px 70px;
	transition: 0.5s;
	top: 50px;
	}
	#check:checked~ul{
	left: -37%;
	}

}
@media(max-width: 320px){
.logo{
		margin-left:-90px;
	}
.checkbtn{
		right: 55%;
	}
nav a{
	position: relative;
	background: #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 20px 70px;
	transition: 0.5s;
	top: 50px;
	}
#check:checked~ul{
	left: -37%;
	}

.submit{
		margin-bottom: 70px;
	}
.read-more{
		margin-bottom: 10px;
	}
.crosshair-image{
	margin-bottom: 10px;
	margin-top: 10px;
	}
}